TWITTER_CONSUMER_KEY: 'YOUR TWITTER CONSUMER KEY'
TWITTER_CONSUMER_SECRET: 'YOUR TWITTER CONSUMER SECRET'
TWITTER_ACCESS_TOKEN: 'YOUR TWITTER ACCESS TOKEN'
TWITTER_ACCESS_TOKEN_SECRET: 'YOUR TWITTER ACCESS TOKEN SECRET'
LAST_FM_API_KEY: 'YOUR LAST.FM API KEY'
LAST_FM_API_SECRET: 'YOUR LAST.FM API SECRET'
LAST_FM_USERNAME: 'YOUR LAST.FM USERNAME'